@{
    ViewBag.Title = "MoreMAC Home";
}

<div class="jumbotron">
    <h1>MoreMAC</h1>
    <p class="lead">The More Modern Access Control System</p>
    <p>Your convenient repository for MAC Request one stop shopping</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>View available Req. Sets by Project, or create your own</p>
        <p><a class="btn btn-success btn-default" href="">Get Started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Groups</h2>
        <p>View available Req. Sets by Group, or create your own</p>
        <p><a class="btn btn-success btn-default" href="">Get Started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Req. Sets</h2>
        <p>View all MAC Requests in the repository or add your own.</p>
        <p><a class="btn btn-success btn-default" href="">Get Started &raquo;</a></p>
    </div>
</div>