@model IEnumerable<MMACadmin.Models.Env>

@{
    ViewBag.Title = "Index";
}

<h2>Environments</h2>
<p>
    Here is the list of available Environments.
    This screen is available to application admins only.
</p>
<table class="table">
    <tr>
        <th>
            Environments
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EnvName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EnvID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EnvID })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
